<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISampleService" />
                <binding name="BasicHttpsBinding_ISampleService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://samplewcf20190724021558.azurewebsites.net/SampleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISampleService"
                contract="SampleServiceReference.ISampleService" name="BasicHttpBinding_ISampleService" />
            <endpoint address="https://samplewcf20190724021558.azurewebsites.net/SampleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISampleService"
                contract="SampleServiceReference.ISampleService" name="BasicHttpsBinding_ISampleService" />
        </client>
    </system.serviceModel>
</configuration>